html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel="stylesheet", href="/css/css.css")
    title Página inicial
  body
    h1= eu
    div(style="background:red", id="meio") Olar, eu sou #{eu}  kkkkjotaaar
    div(id='btn')
      button(onclick='alert("oi")')= "é assim  >"